
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="kazunori.kimura">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <!-- highlight.js style -->
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container post">

<%- content %>

    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">
          <a href="index.html">Home</a> |
          <a href="https://github.com/Kazunori-Kimura" target="_blank">Github <span class="glyphicon glyphicon-new-window"></span></a> |
          <a href="http://kazunori-kimura.blogspot.jp/" target="_blank">blog <span class="glyphicon glyphicon-new-window"></span></a>
        </p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  </body>
</html>
